* { padding: 0; margin: 0; }

html, body, #root, .main {
  min-height: 100% !important;
  height: 100%;
}

.main {
  display: grid;
  grid-template-columns: 80% 20%;
  width: 100%;
  min-width: 1000px;
}

.journal {
  border-left: 1px solid gray;
  margin-left: .5em;
  padding: 0 1em;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}


.Modal {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  max-width: 600px;
  max-height: 430px;
}

.Modal .uk-modal-body {
  max-height: 280px;
  overflow: auto;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
}

.colorBox {
  width: 1em;
  height: 1em;
  margin-right: .4em;
  display: inline-block;
  vertical-align: middle;
}